#emp_wr{
	width: 12%;
	margin-left:3%;
	display:block;
}
.row {
	display: block;
	height: 50px;
	border: solid 0.5px silver;
}
#slaves_list{
	position: relative;
width: 200px;
	display: block;
	left: 200px;
	bottom: 950px;
		}
		#line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #F00;
    stroke-width: 2px;
    z-index: -1;
}